@model CarsharingProject.Models.RentCarsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit car</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Vin" class="control-label"></label>
                <input asp-for="Vin" class="form-control" readonly/>
                <span asp-validation-for="Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberCar" class="control-label">Number car</label>
                <input asp-for="NumberCar" class="form-control"/>
                <span asp-validation-for="NumberCar" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsRentNow" readonly/> Is rent now
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailableForUsers"/> Available for users
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PricePerKM" class="control-label">Price per km</label>
                <input asp-for="PricePerKM" class="form-control"/>
                <span asp-validation-for="PricePerKM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerMinute" class="control-label">Price per minute</label>
                <input asp-for="PricePerMinute" class="form-control"/>
                <span asp-validation-for="PricePerMinute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Return to list cars</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}