@{
    ViewData["Title"] = "Home Page";
}


<div class="container py-5">
    <h1 class="display-4">Правила пользования каршерингом</h1>

    <ol>
        <li>Регистрация: Пользователь должен пройти процесс регистрации, предоставив свои личные данные, включая паспортные данные и водительское удостоверение. Также требуется привязать хотя бы одну действующую банковскую карточку.</li>
        <li>Бронирование: Пользователь может зарезервировать автомобиль через веб-сайт каршеринговой компании.</li>
        <li>Аренда: После успешной брони автомобиля пользователь может получить доступ к нему с помощью своего мобильного устройства.</li>
        <li>Правила использования: Пользователь должен следовать правилам дорожного движения и соблюдать ограничения скорости. Запрещено управлять автомобилем в состоянии алкогольного или наркотического опьянения.</li>
        <li>Завершение аренды: После окончания использования автомобиля пользователь должен самостоятельно завершить аренду через веб-сайт. Убедитесь, что автомобиль припаркован в соответствии с правилами и требованиями каршеринговой компании.</li>
        <li>Оплата: Оплата за использование автомобиля производится с помощью зарегистрированной банковской карточки. Тарифы могут варьироваться в зависимости от пройденного расстояния и других факторов, указанных компанией.</li>
        <li>Обслуживание и чистота: Пользователь обязан возвращать автомобиль в чистом состоянии и с необходимым уровнем топлива. Если возникают проблемы с автомобилем, пользователь должен сообщить об этом компании каршеринга.</li>
        <li>Ответственность: Пользователь несет полную ответственность за любые повреждения или ущерб, нанесенные автомобилю во время аренды. При нарушении правил компания может применить штрафы или ограничить доступ пользователя к услугам каршеринга.</li>
        <li>Безопасность: Пользователь должен обеспечить безопасность автомобиля во время использования, закрывая его на ключ и не оставляя ценные предметы в салоне.</li>
    </ol>
</div>