@using CarsharingProject.ViewModels;
@model List<UserWithRoleViewModel>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Роль</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @using (Html.BeginForm("ChangeRole", "UsersWithRoles", FormMethod.Post))
                    {
                        @Html.Hidden("UserName", user.UserName)
                        @Html.DropDownList("SelectedRole", new SelectList(user.AllRoles, user.Role))
                        <input class="btn-primary" type="submit" value="Сохранить" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>